services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postg_user
      POSTGRES_PASSWORD: strongestpassword
      POSTGRES_DB: trade_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
